
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    line-height: 1.5;
    background-color: #FFFFFF;
    height: auto;
    width: 100%;
    justify-content: center;
    align-content: center;
}
main{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    height: auto;
    justify-content: left;
    align-content: top;
    flex-wrap: wrap;
    margin:auto;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
}

/*Header & Footer*/
.header-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: white;
    height: 120px;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
 background-color: #A3D900;
 opacity: 0.9;
 color: white;
 padding: 25px;
 border-radius: 5px;
 font-size: 50px;
 font-weight: 500;
}

h2 {
    font-weight: 600;
    font-size: 25px
}
p {
  word-wrap: break-word;
}
.button {
    display: inline-block;
    background-color: #A3D900;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
  }
  .button:hover {
    background-color: #2E4D1C;
  }
/* Hero */
.hero {
    padding-top: 120px;
    height: 60vh;
    background-image: url("/images/scott-webb-102825.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
  display:flex;
}
.explore {
  background-image: url("/images/roberto-nickson-396152-min.jpg");
}
.exhibition-spaces {
  background-image: url("/images/exhibition-1863344_1920-min.jpg");
}
.special-events {
  background-image: url("/images/billetto-editorial-334686-min.jpg");
}
.visit {
  background-image: url("/images/library-1132573_1920-min.jpg");
}
.get-involved {
  background-image: url("/images/learn-2405206_1920-min.jpg");
}
/* Form */
form {
  background-color: #FFA500;
  border-radius: 10px;
  padding: 20px;
}

form h2 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid white;
  color: white;
  font-weight: regular;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

form input[type="submit"] {
  background-color: #A3D900;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  width: 100px;
  cursor: pointer;
}

/* Added styles for responsive layout */

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"] {
  width: 100%;
  box-sizing: border-box;
}

.div-left {
  flex: 1;
  width: 70%;
}
.div-right{
  width: 30%;
  margin-left: 20px;
}
.div-right img {
  height:auto;
  width: 250px;
  border-radius: 25px;
}

.column-container {
  display: flex;
  flex-wrap: nowrap;
}
.column {
  width: 33.33%;
  box-sizing: border-box;
  padding: 20px;
}
.column img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}
.orangebg {
  background-color: orange;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
  }
  .navbar-logo img {
    max-width: 60%;
    min-width: 350px;
    height: auto;
  }
  .nav-active {
    font-weight: 600;
  }
  
  .navbar-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links a {
    color: #0B1B35;
    text-decoration: none;
  }
  
  .navbar-toggle {
    display: none;
  }
.container {
    padding: 25px;
}
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .left, .right {
    flex-basis: 46%;
    padding: 20px;

  }

  footer {
    background-color: #0B1B35;
    width: 100%;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    left: 0;bottom: 0;
    align-items: center;
}
  /* Responsive Layout */


  /* Desktop */
  @media only screen and (min-width: 991px) {
    .navbar-mobile {
        display: none;
    }
}
  /* Mobile */
  @media only screen and (max-width: 480px) {
    html, body {
      overflow-x: hidden;
    }
    .navbar-links {
      display: none;
    }
    .header-wrap {
      height: 70px;
  }
  .hero {
    padding-top: 70px;
  }
    .navbar-logo img {
      max-width: 60%;
      min-width: 300px;
      height: auto;
    }
    .left, .right {
      flex-basis: 100%;
      padding: 0;
  }
  .column-container {
    flex-wrap: wrap;
  }
  .column {
    width: 100%
  }
  


  main {
    display: flex;
    max-width: 1300px;
    height: auto;
    justify-content: left;
    align-content: top;
    flex-wrap: wrap;
    margin:auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }

    footer {
      font-size: 12px;
    }
    .container {
      flex-wrap: wrap;
      padding: 20px;
  }

    .div-left {
      width: 100%;
    }
    .div-right{
      width: 100%;
      margin-left: 0px;
    }
    .div-right img {
      height:auto;
      width: 100%;
      border-radius: 25px;
    }

  }
  /* Tablet */
  @media only screen and (min-width: 481px) and (max-width: 991px) {
    .navbar-links {
      display: none;
    }
    .header-wrap {
      height: 100px;
  }
  .column-container {
    flex-wrap: wrap;
  }
  .column {
    width:100%;
  }
  .column img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}
  .left, .right {
    flex-basis: 100%;
    padding: 0;
}

}



.logo {
    width: 500px;
}

/* Hamburger Menu */

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar-mobile {
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0B1B35;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  margin-top: 10px;
  top: 27px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0B1B35;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  z-index: 1;
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: 100vh;
  margin-top: -20px;
  position: absolute;
  min-width: 400px;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  margin-left: -350px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  background-color: #A3D900;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}