
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    line-height: 1.5;
    background-color: #FFFFFF;
    height: auto;
    width: 100%;
    justify-content: center;
    align-content: center;
}
main {
    display: flex;
    max-width: 1300px;
    height: auto;
    justify-content: left;
    align-content: top;
    flex-wrap: wrap;
    margin:auto;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
}

/*Header & Footer*/
.header-wrap {
    background-color: white;
    height: 120px;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
 background-color: #A3D900;
 opacity: 0.9;
 color: white;
 padding: 25px;
 border-radius: 5px;
 font-size: 50px;
 font-weight: 500;
}

h2 {
    font-weight: 600;
    font-size: 25px
}

.button {
    display: inline-block;
    background-color: #A3D900;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
  }
  .button:hover {
    background-color: #2E4D1C;
  }

.hero {
    height: 50vh;
    background-image: url("/images/scott-webb-102825.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
  }
  .navbar-logo img {
    max-width: 60%;
    min-width: 350px;
    height: auto;
  }
  .nav-active {
    font-weight: 600;
  }
  
  .navbar-links ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links a {
    color: #0B1B35;
    text-decoration: none;
  }
  
  .navbar-toggle {
    display: none;
  }
.container {
    padding: 25px;
}
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%
  }
  .left, .right {
    flex-basis: 50%;
  }

  
  @media screen and (max-width: 991px) {
    .header-wrap {
        height: 100px;
    }

  }
  @media screen and (max-width: 991px) {
    .navbar-links {
      display: none;
    }
  
    .navbar-toggle {
      display: block;
      cursor: pointer;
    }
  
    .navbar-toggle span {
      display: block;
      width: 30px;
      height: 3px;
      background-color: #000000;
      margin: 5px 0;
    }
  }

footer {
    background-color: #0B1B35;
    width: 100%;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    left: 0;bottom: 0;
    align-items: center;
}

.logo {
    width: 500px;
}